/* Add your CSS to this file */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header {
    background-color: #FFF;
}

header h1 {
    align-content: left;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: #6b7280;
}

nav a:hover {
    color: #5A67D8;
}

.overview-hero{
    background-color: #E2E8F0;
}

.overview-hero .container {
    display: flex;
    align-items: center;
    padding: 30px 0;
    gap: 30px;
}

.overview-hero-image img{
    width: 200px;
}

.learn-about h2{
    color: #48BB78;
    font-size: 24px;
}

.learn-about h3{
    color: #48BB78;
    font-size: 21px;
}

.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    padding: 0 0 20px 0;
}

.learn-about .card {
    background-color: #FFF;
    border-width: 2px;
    border-style: solid;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    margin: 5px;
}
    
.learn-about img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.testing {
    background-color: #4A5568;
    color: #FFF;
    padding: 30px 0;
}

.cta {
    background-color: #48BB78;
    padding: 0.75rem 1.75rem;
    border-radius: 5px;
    white-space: nowrap;
}

.cta a {
    text-decoration: none;
    color: #FFF;
}

.testing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.testing h2 {
    padding: 1 rem 0;
}

.stories .container {
    padding: 30px 0;
}

.stories h2 {
    color: #5A67D8;
}

.stories a {
    color: #5A67D8;
    text-decoration: none;
}

.stories article {
    display: flex;
    align-items: center;
    gap: 20px;
}

.stories article img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

.newsletter {
    background-color: #48BB78;
    color: #FFF;
    text-align: center;
    padding: 20px 0;
}

.newsletter form {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.newsletter button {
    background-color: #5A67D8;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.newsletter input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

footer {
    background-color: #4A5568;
    color: #FFF;
    padding: 20px 0;
}